<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Edit <%= food.name %></title>
</head>

<body>
    <%- include('../partials/nav') %>
        <h1>Edit a food</h1>
        <form action="/foods/<%=food._id%>?_method=PUT" method="POST">

            <div class="form">
                <label for="image">Image URL</label>
                <textarea type="text" name="image" id="image"><%= food.image %></textarea>
            </div>

            <div class="form">
                <label for="name">Name</label>
                <input type="text" name="name" value="<%= food.name %>" id="name" />
            </div>

            <div class="form">
                <label for="description">Description</label>
                <textarea type="text" name="description" id="description"><%= food.description%></textarea>
            </div>
            <% if(require){ %>
                <h3 class="require">All fileds required</h3>
                <% } %>

                    <button type="submit" class="button-55">Update food</button>
        </form>
</body>

</html>