<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><% food.name %></title>
</head>
<body>
    <%- include('../partials/nav') %>
    <h1><%= food.name %></h1>
    <img src=<%=food.image %> alt="<%= food.name %> image">
    <p><b>Description:</b> <%= food.description %></p>

    <form action="/foods/<%=food._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= food.name %></button>
    </form>

    <a href="/foods/<%=food._id %>/edit">Edit <% food.name %></a>
</body>
</html>